<div class="splash">
  <div class="login-container">
    <a href="#" id="gh-signin" class="btn btn-primary btn btn-icon">
      <i class="fa fa-github pull-left"></i>
      <span>Login with GitHub</span>
    </a>
  </div>
</div>

<script>
  document.getElementById("gh-signin").addEventListener("click", function(e) {
    e.preventDefault();
    Livestax.authenticate.start({
      url: window.location.origin + "/auth/",
      provider: "GitHub",
      callback: function(code) {
        var appName = window.location.pathname.split('/')[2];
        window.location = "/authenticated?app_name=" + appName + "&code=" + code;
      }
    });
  });
</script>
