<div class="splash">
  <div class="login-container">
    <a href="#" id="gh-signin" class="btn btn-primary btn btn-icon">
      <i class="fa fa-github pull-left"></i>
      <span>Login with GitHub</span>
    </a>
  </div>
</div>
