<div class="splash">
  <div class="login-container">
    <a href="#" id="gh-signin" class="btn btn-primary btn btn-icon">
      <i class="fa fa-github pull-left"></i>
      <span>Login with GitHub</span>
    </a>
  </div>
</div>

<form id="authenticated" method="post">
  <input type="hidden" name="signed_request" value="<%=@signed_request%>" />
  <input id="code" type="hidden" name="code" value="" />
</form>

<script>
  var namespaces = [
    "<%= ENV['REPOS_APP_NAMESPACE']%>",
    "<%= ENV['PULLS_APP_NAMESPACE']%>"
  ];

  function register_app_triggers(event_name) {
    for (var i = 0; i < namespaces.length; i++) {
      Livestax.on(namespaces[i] + "." + event_name, function() {
        window.location.assign(window.location.origin + window.location.pathname + "?signed_request=<%= @signed_request %>");
      });
    }
  };

  register_app_triggers("authentication");

  document.getElementById("gh-signin").addEventListener("click", function(e) {
    e.preventDefault();
    Livestax.authenticate.start({
      url: window.location.origin + "/auth/",
      provider: "GitHub",
      callback: function(code) {
        document.getElementById("code").value = code;
        var form = document.getElementById("authenticated");
        form.action = window.location.pathname;
        form.submit();
      }
    });
  });
</script>
