<p>Redirecting you to the login page</p>

<script>
  Livestax.trigger("authentication", "logout");
  window.location.assign(window.location.protocol + '//' + window.location.host + "/apps/<%= @app %>/?signed_request=<%= @signed_request %>");
</script>
