<div>
  <div class="notice select-repo-notice">
    <div class="media-badge media-badge-lg media-badge-info-inverse img-circle">
      <span class="media-badge-container"><i class="fa fa-list"></i></span>
    </div>
    <h2 class="text-info"><strong>Select Repository</strong></h2>
    <p>Please select a Repository from the Repository App.</p>
  </div>
</div>

<script>
  Livestax.trigger("authentication");
</script>
