<div class="container-fluid org-select-container">
  <div class="form-group">
    <select type="select" class="form-control" id="org_select" onchange="orgChanged(this.value)">
      <option></option>
      <% @orgs.each do |org| %>
        <option value="<%= org %>"><%= org.upcase %></option>
      <% end %>
    </select>
  </div>
</div>

<div id="repositories_list"></div>

<div class="notice select-org-notice">
  <div class="media-badge media-badge-lg media-badge-info-inverse img-circle">
    <span class="media-badge-container"><i class="fa fa-list"></i></span>
  </div>
  <h2 class="text-info"><strong>Select Organization</strong></h2>
  <p>Please select an organization from above to view it's repositories.</p>
</div>

<div class="notice empty-org-notice hidden">
  <div class="media-badge media-badge-lg media-badge-info-inverse img-circle">
    <span class="media-badge-container"><i class="fa fa-times"></i></span>
  </div>
  <h2 class="text-info"><strong>No Repositories</strong></h2>
  <p>This organization doesn't have any repositories, please select another organization.</p>
</div>

<script>
  var signed_request = "<%= @signed_request %>";
  Livestax.menu.set("Logout", "sign-out", function() {
  var data = {
    title: "Logout",
    message: "This will log you out of the GitHub Apps.",
    buttons: [
      {
        title: "Logout",
        callback: function(){
          window.location.assign(window.location.origin + "/logout/?app_name=repos&signed_request=" + signed_request);
        },
        type: "ok"
      },
      {
        title: "Cancel",
        callback: function(){},
        type: "cancel"
      }
    ]
  };
  Livestax.dialog.show(data);
  });

  function changeRepos() {
    var html = "<div class='list-group'>";
    var repos = JSON.parse(this.responseText);

    if (repos.length < 1) {
      var notice = document.querySelector(".empty-org-notice");
      document.querySelector("#repositories_list").innerHTML = "";
      return notice.className = "notice empty-org-notice";
    }

    for (var i=0; i < repos.length; i++) {
      listItem = "<a href='#' class='list-group-item'>" + repos[i] + "</a>";
      html = html + listItem;
    };
    html = html + "</div>";
    document.querySelector("#repositories_list").innerHTML = html;
  };

  function orgChanged(org) {
    var selectNotice = document.querySelector(".select-org-notice");
    var emptyNotice = document.querySelector(".empty-org-notice");
    emptyNotice.className = "notice empty-org-notice hidden";

    if (org === "") {
      document.querySelector("#repositories_list").innerHTML = "";
      selectNotice.className = "notice select-org-notice";
    } else {
      selectNotice.className = "notice select-org-notice hidden";

      var request = new XMLHttpRequest();
      request.onload = changeRepos;
      request.open("get", "/repos/" + org + "?signed_request=" + signed_request, true);
      request.send();
    }
  };
</script>
